* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-white: white;
    --color-text: black;
    --color-textbox: #DFDFDF;
    --color-green: #295818;
    --color-yellow:#fbe587;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

    background-image: url('./assets/cats-and-soup-bkgrd.webp');
}

::-webkit-scrollbar {
    display: none;
}

header {
    color: var(--color-text);
    font-family: 'Fredoka One', cursive;
    text-align: center;
    vertical-align: middle;
    background: transparent;
    background-image: url('./assets/cats-and-soup-bkgrd.webp');
}

body {
    text-align: center;
    line-height: 90px; 
    vertical-align: middle;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 3rem;
    font-family: 'Fredoka One', cursive;
}

.fact {
    padding: 8%;
}

.textbox {
    width: 30rem;
    height: 20rem;
    background-color: var(--color-textbox);
    border-radius: 1.5rem;

    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    width: max-content;
    display: inline-block;
    background: var(--color-green);
    color: var(--color-yellow);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid;
}

.btn:hover {
    border-color: transparent;
}
